.body {
    height: 100vh;
  margin: 0;
  overflow: hidden;

}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 32px;
    background-color: #1F2937
    
}

.right {
    display: flex;
    gap: 24px;
    color:#e5e7EB;
    font-size: 18px;
}

.left {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.content {
    display: flex;
    background-color: #1F2937

}

.content-left {
    flex: 1;
  

}

.content-right {
    justify-content: center;
    flex: 1;
    
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.subtext {
    font-size: 18px;
    color: #e5e7EB;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.placeholder-box {
    width: 75%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: gray;

}

.sign-up {
    margin-bottom: 32px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  color: #1F2937;


}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}

.all-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 52px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
  text-align: center;
}

.text {
    padding: 18px;
}

.quote-section {
    background-color: #e5e7EB;
    

}
.quote {
    display: flex;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 52px;
    font-size: 36px;
    font-weight: 200;  
}

.author {
    display: flex;
    justify-content: flex-end;
    padding-right: 20%;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 52px;
}

.call-to-action {
    display: flex;
    justify-content: center;

}

.cta-box {
    width: 75%;
    height: 125px;
    display: flex;
    margin-bottom: 52px;
    background-color: #3882f6;
    margin-top: 52px;
    border-radius: 15px;

 }

