.body {
    height: 100vh;
  margin: 0;
  overflow: hidden;

}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 32px;
    background-color: #1F2937
    
}

.right {
    display: flex;
    gap: 24px;
    color:#e5e7EB;
    font-size: 18px;
}

.left {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}



.hero {
    background-color: #1F2937
}

.hero-left {
    width: 50%;
    padding: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    border: white dotted;
}

.hero-right {
    color: white;
    display: flex;
    justify-content: flex-end;
    border: white dotted;

    
}


h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    padding: 18px;
}

.subtext {
    color:#e5e7EB;
    font-size: 18px;
    padding-left: 18px;
}

.button {
    margin: 18px;
    background-color: #3882f6;
    width: 125px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color:#e5e7EB
}